/* General Game Page Layout */
.game-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  width: 85vw;
  padding: 5px;
  background-color: #2C9A65;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.timer {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

/* Chat Box */
.chat-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.message {
  padding: 12px;
  margin: 6px 0;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
}

.left-message {
  align-self: flex-start;
  background-color: #39D49C;
  color: #ffffff;
}

.right-message {
  align-self: flex-end;
  background-color: #00796b;
  color: #ffffff;
}

/* Input Area */
.input-area {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

input[type='text'] {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #4682b4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
  padding: 12px;
  font-size: 16px;
  background-color: #00796b;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #11806e;
}

button:focus {
  outline: none;
  border-color: #2ecc71;
}

button:active {
  background-color: #086c5c;
}

button:disabled {
  background-color: #b0bec5;
  color: #757575;
  cursor: not-allowed;
}

/* Back Button */
.back-button, .home-button {
  margin-top: 10px;
  background-color: #d32f2f; /* Dark red */
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.home-button {
  margin-left: 10px;
}

/* Surrender Button */
.player-info button {
  margin-top: 10px;
  background-color: #d32f2f; /* Dark red */
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.player-info button:hover {
  background-color: #c1272d; /* Slightly darker red */
}

.player-info button:focus {
  outline: none;
  border-color: #e53935; /* Brighter red border on focus */
}

.player-info button:active {
  background-color: #b71c1c; /* Even darker red */
}
