.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.8); /* Şeffaflık eklendi */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 350px; /* Boyut daha da küçültüldü */
    height: 365px;
    border-radius: 12px;
    background-color: #66cdaa;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px; /* Padding azaltıldı */
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 5px; /* Margin küçültüldü */
    font-size: 1.2rem; /* Font boyutu küçültüldü */
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: red;
    border: none;
    font-size: 15px; /* Font boyutu küçültüldü */
    cursor: pointer;
  }
  .kapsam{
    background-color: rgb(126, 210, 182);
    padding: 5px 0;
    border-radius: 10px;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; /* Font boyutu küçültüldü */
    font-weight: bold;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 90px; /* Buton boyutu küçültüldü */
    height: 55px; /* Buton yüksekliği küçültüldü */
    margin: 5px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 13px; /* Font boyutu küçültüldü */
    cursor: pointer;
    
  }
  
  #homeBtn {
    background-color: dodgerblue;
  }
  
  #newGameBtn {
    background-color: green;
  }
  
  #summaryBtn {
    background-color: orange;
  }
  
  /* KonuÖzetiModal.css */

.konuOzetiBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Şeffaflık eklendi */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.konuOzetiContainer {
  width: 900px; /* Genişlik ayarlandı */
  height: 650px; /* Yükseklik ayarlandı */
  border-radius: 12px;
  background-color: #66cdaa; /* Yeşil arka plan */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px; /* Padding eklendi */
}

.konuOzetiTitle {
  text-align: center;
  font-size: 1.5rem; /* Başlık font boyutu */
  margin-bottom: 15px; /* Başlık ve metin arasındaki boşluk */
}

.konuOzetiBody {
  flex: 1;
  font-size: 1.2rem; /* Metin font boyutu */
  text-align: center;
  overflow-y: auto; /* Uzun metinler için kaydırma */
}

.konuOzetiCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.konuOzetiCloseBtn button {
  background-color: red;
  border: none;
  font-size: 16px; /* Font boyutu */
  cursor: pointer;
  color: white;
}
